.quote-area {
  position: relative;
}

.bg-color{
      background-color: #ffaa17;
      clip-path: polygon(0 13%, 100% 31%, 100% 100%, 0% 100%);
      z-index: -1;
      position: relative;
}

.left-img img {
  z-index: 1;
}

.manImg{
  position: absolute;
  top: -85px;
   width: 30%;
}

.quote-content {
  padding-top: 20%;
  position: relative;
}

.quote-content h1 {
  font-size: 50px;
  color: #041d38;
  font-weight: 700;
}

.arrow a{
    background-color: #041d38;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    z-index: 1;
    text-decoration: none;
}

/* Responsive code */
@media only screen and (max-width: 767px) {
  .manImg {
  display: none;
}
.quote-content h1 {
  font-size: 30px;
  padding: 50px 0;
}
.quote-content {
  padding-top: 10%;
  margin-right: 20px;
}
}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
   .manImg {
  display: none;
}
.quote-content h1 {
  font-size: 40px;
  padding: 50px 0;
}
.quote-content {
  padding-top: 10%;
  margin-right: 20px;
}
  
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .manImg {
  display: none;
}
.quote-content h1 {
  font-size: 40px;
  padding: 50px 0;
}
.quote-content {
  padding-top: 10%;
  margin-right: 20px;
}
}


