.quote-area {
  position: relative;
}

.bg-color{
      background-color: #ffaa17;
      clip-path: polygon(0 13%, 100% 31%, 100% 100%, 0% 100%);
      z-index: -1;
}

.left-img img {
  z-index: 1;
}

.manImg{
  position: absolute;
  top: -85px;
   width: 30%;
}

.quote-content {
  padding-top: 20%;
  position: relative;
}

/* .bar:before {
  content: "";
  position: absolute;
  background-color: #041d38;
  width: 40px;
  height: 2px;
  margin-top: 10px;
}

.quote-content p {
  text-transform: uppercase;
  position: absolute;
  left: 10%;
} */

.quote-content h1 {
  font-size: 50px;
  color: #041d38;
  font-weight: 700;
}

.arrow a{
    background-color: #041d38;
    padding: 20px 30px;
    position: absolute;
    right: 7.8%;
    bottom: 0;
    color: #fff;
    z-index: 1;
    text-decoration: none;
}

/* Responsive Code */
@media only screen and (max-width: 767px) {
  quote-content h1{
  font-size: 30px;
  font-weight: 600;
  }
}
