.header-container {
    height:100vh;
    width: 100vw;
    position:relative;
    background:
    linear-gradient(
      #525252d5, 
      #4b4b4baf
    ),
    url('../../Images/banner.jpg');
    background-size: cover;
}
