.video-play{
  position: relative;
}

.video-left {

}

.video-left img {
  width: 100%;
  background-size: cover;
   height: 400px;
}

.video-right {
  background-color: #041d38;
  color: #fff;
  padding: 60px;
  height: 400px;
}

.video-right h4 {
  padding: 20px 0;
  color: #ffaa17;
  text-transform: uppercase;
  font-size: 18px;
}

.video-right h1 {
    font-weight: 600;
    font-size: 35px;
}

.video-right p {
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.playBtn{
    position: absolute;
    width: 100px !important;
    height: 100px;
    background-color: #ffaa17;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.playBtn a{
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
   color: #041d38;
    text-decoration: none;
}