.skill-area{
    padding: 50px;
    background-color: #F7FCFF;
}

.hireBtn{
    padding: 0 0 50px 0;
}

.hire-btn:hover{
    background: none;
    transition: 1s;
}

.skill-content p{
    color: #ffaa17;
}

.skill-content h1{
    color: #041d38;
    font-weight: 700;
}